.main-container {
    max-width: 1950px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.carousel-height img{

    max-height: 500px;
}

.first-slider {
    min-height: 450px;
    
    background-image: url('ph.png');
    background-size: cover;

}
.first-slider-1 {
    min-height: 450px;
   
    background-image: url('ph.png');
    background-size: cover;
}

.second{
    color: #9fd7ef!important;
}
.bs-card{
    color: #f65aa7!important;
}
.butns{
    margin-top: 45px;
}


.arrow{
    font-size: 32px;
    border: none solid rgba(255, 255, 255, 0.26);
	border-radius: 32px;
    padding: 12px 18px;
    font-weight: 600;
}
.arrow:hover{
    color: #d4d4d4;
    background-color: rgba(255, 255, 255, 0.334);
}